.black{
    background-color: #1F1F1F;
}


.text{
    color: #999999
}

.margin{
margin-left: 250px;
}

.menu{
    height: 70px !important;
}

.search{
    top: 5px;
    right: 50px;
}

.red{
    color: #FBE3EA;
    background-color: #df0145;
    padding: 10px;
border-radius: 10px;
}

.caro{
    color: black;
}

.category{
    margin-left: 160px;
}

.btn{
    border: 1px solid #EF80A2;
    border-radius: 20px !important;
    
}

.fs{
    font-size: 14px !important;
}

.hei{
    height: 400px !important;
    width: 48% !important;
   
}

.height{
    height: 450px !important;
    overflow: hidden;
    width: 48% !important;

}
.pad{
 float: left !important;
/* padding-bottom: 4000px !important; */
 
}

.img4{
    height: 420px;
    overflow: hidden;
    width: 625px;
    margin-top: 50px !important;
    margin-left: 20px;
}

.gallery-text{
    top: 150px;
    right: 310px;
}


.gallery-button{

    top: 300px;
    right: 400px;
}

.gallery-text-II{
    top: 200px;
    left: 200px;
}

.gallery-text-III{
    top: 150px;
    right: 150px;
}

.anchor{
    top: 330px;
    right: 180px;
    position: absolute;
    /* top: 150px !important; */
}

.borders{
    background-color: yellow;
}

.star{
    height: 12px !important;
width: 13px !important;
}

.price{
    color: #df0145 !important;
}

.carousel-item img {
    width: 100%;
    height: auto;
}

.radio-button {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    /* background-color: #ccc; */
    margin: 0 5px;
    cursor: pointer;
}

.radio-button.active {
    margin-top: 40px !important;
    /* background-color: red; */
}

.bord{
    border:   #FFFFFF !important;
}

.font{
    font-size: 13px !important;
    font-weight: 600;
    color: #000000;
    text-transform: uppercase;
    cursor: pointer;
    text-decoration: none;
}
.font:hover{
    color:#df0145 !important ;
}
.img-wid{
    width: 50px !important;
    height: 50px !important;
    object-fit: cover;
}



  .carousel-container {
    position: relative;
  }

  .radio-buttons {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
  }

  .radio-button {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    /* background-color: yellow !important; */
    margin: 0 5px;
    cursor: pointer;
  }

.news-img{
    height: 200px !important;
    width: 200px !important;
}
  .img-over{
    margin-top: 20px;
    margin-left: 20px;
    /* padding: 10px !important; */
    background-color: #F8F5F4;
    height: 500px !important;
    width: 480px !important;
    opacity: 0.6;
  }

  .text-box{
    position: absolute;
    top: 50px;
  }

  .btne{
    margin-top: 80px;
    margin-left: 30px;

  }

  .imge{
    margin-left: 280px;
    margin-top: -40px;
  }

  .img-late{
    border: none;
   
  }

  li{
    list-style: none;

}
.for:hover{
color: #df0145 !important;
}
  
.flow:hover{
scale: 1.2;
transition: 3s;
}
.drop{
    border: none;
    outline: none;
}

.dropdown:hover .dropdown-menu{
    display: block !important;
}


  .but{
    top: 15px;
    right: -120px;
  }
  .read{
    border-bottom: 1px solid;
    color: #999999;
    width: 80px;
  }

  .blog_stats{
    position: absolute;
    top: 25%;
    left: 30%;
    padding: 30px;
    color: white;
    background-color: #df0145;
  }

  .inputd{
    border: none;
    outline: none;
  }

  .white{
    color: white;
  }